
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
 }
  
  .main {
  width: 100%;
  height: 782px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
  url(img/Rectangle\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }
  
  .header-nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .logo-name {
  padding-left: 7px;   
  }
  
  .logotype {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color:#FFFFFF;
  text-transform: uppercase;
  padding-right: 2%;
  }
  
  .nav-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  }
  
  .nav-menu > li {
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  }
  
  .nav-menu > li > a {
   text-decoration: none;
   color: white;
  }
  
  .nav-menu >li :hover {
  color: black;
  }
  
  .localization{
  display: flex;
  padding-left: 5%;
   }
  .flag {
  content: url(img/flag.svg);
  } 
  
  .English {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-left: 11px;
  }
  
  .kurs {
  content: url(img/kurs.svg);
  }
  
  .login-form{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: 20px;
  }
  .button {
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .login-form:hover {
  background-color: rgb(218, 80, 80);
  animation: bounce 1s;
  }
 
  
  .wrapper{
  font-family: Lato;
  color:white;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  }
  
  .wrapper-text{
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;  
  }
  
  .wrapper-info{
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  white-space: pre;
  line-height: 150%;
  
  }
  
  .click{
    margin-top: 39px;
    margin-left: 40px;
    display:inline-block;
    vertical-align: top;
    padding: 17px 40px;
    background-color: #fff;
    text-transform: uppercase;
    color: #ED4C5C;
    text-decoration: none;
    border-radius: 7px;
  }
  
  .click:hover {
    background: #ED4C5C;
    color: white;
  }
  
  
  
  .video-section {
    max-width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF; 
    display: flex;
    
    }
  
  
  .video-block{
  max-width: 500px;
  max-height: 100%;
  margin: 100px 72px 50px 168px ;
  
  
  }
  
  .video-header{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  }
  
  .video-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000
  }
  
  
  .video-link{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #ED4C5C;
  text-decoration: none;
  }
  
  .video-img {
  max-width: 510px;
  max-height: 335px;
  padding: 94px 26px 95px;
  }
  
  .video-images{
  border-radius: 15px;

  }
  
  .video-play{
  content: url(img/Play\ Button.png);
  width: 66px;
  height: 66px;
  position: relative;
  top:200px;
  right: 500px;
  }

/* <features */



.heading{
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.1;
text-align: center;
color: #000000;
margin-top: 50px;
margin-bottom: 76px;
}

.feature-img{
width: auto;
height: 100%;
border-radius: 8px;
}

.feature-title{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 1.2;
text-align: center;
color: #101010;
margin-bottom: 20px;
}

.feature-description{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1.5;
text-align: center;
color: #101010;
margin-bottom: 50px;
}


.feature-link{
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 1.5;
text-align: center;
color: #ED4C5C;
text-decoration: none;
}

.features-wrapper{
display: flex;
justify-content: center;
align-items: center;
max-width: 1121px;
margin-left: auto;
margin-right: auto;
}

.feature{
  margin-left: 15px;
  margin-right: 15px;
  max-width: 338px;
  display: flow-root;
}

.feature-block{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 20px 10px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: -95px;
}

/* technology-1 */


.conteiner-technology{
width: 100%;
height: 500px;
}

.tittle-heading{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}


.conteiner-techno {
  display: flex;
  max-width: 1110px;
  height: 226px;
  padding: 52px 165px 104px 165px;
  margin-left: auto;
  margin-right: auto;
}


.techno-wrapprer {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  width: 255px;
  height: 226px;
  
  }
  

.tittle-techno{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 120px;
color: rgba(16, 16, 16, 0.08);
text-align: center;
}



.techno-title{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
 text-align: center;
  color: #101010;
}

.techno-info{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
 text-align: center;
  color: #000000;
}


.techno-img{
display: block;
position: absolute;
padding: 59px 88px 87px 87px;
}

/* slider */

.conteiner-slider{
  max-width: 100%;
  height: 500px;
  background-color: #ED4C5C;
  display: flex;
  justify-content: center;
 
}


.img-sliders{
  position: absolute;
  width: 533px;
  height: 311px;
  margin: 94px 216px 95px 691px;
  } 

.text-slider{
  width: 445px;
  height: 195px;
  margin: 122px 830px 183px 165px;
  
}
.text-top{
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
color: #FFFFFF;


}
.text-bot{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #FFFFFF;
}




.app-img {
  margin-top:40px ;
  width: 134px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
}



/* CONTACT */

.conteiner-contact{
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}


.contact-block{
  width: 445px;
  height: 160px;
  padding: 117px 819px 223px 179px;



}

.contact-title{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
 
}

.contact-bot{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
}




.log-select{
  position: absolute;
padding: 117px 165px 78px 738px;
} 

.name-select{
 
width: 255px;
height: 60px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: rgba(19, 39, 67, 0.5);
border: 1px solid #000000;
border-radius: 6px;
margin-left: 15px;
}
